<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="http://cdn.jsdelivr.net/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="website.js"></script>
    <title>My personal web site (yeah!)</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
        .select_categorie_true {

        }

        .select_categorie_false {
            display: none;
        }

        .nav a {
            transition: all 80ms ease;
            transform: rotate(-10deg);
        }

        .nav a:hover {
            transform: rotate(0deg);
        }
    </style>
</head>
<body ng-controller="Website">

<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li ng-repeat="menu in categories">
                <a href="#" ng-mouseenter="affiche(menu.id)"><i class="{{menu.icon}}"></i> {{menu.nom}}</a>
            </li>
        </ul>
        <h3 class="muted">{{titre}}</h3>
    </div>

    <hr>

    <div class="jumbotron select_categorie_{{item.visible}}" ng-repeat="item in items">
        <h1>{{item.titre}}</h1>

        <p class="lead">{{item.contenu}}</p>
    </div>

    <hr>
</div>
</body>
</html>